{% extends 'base.html' %}

{% block content %}
<h1>Новый пост</h1>
    <form action="{% url 'create_post' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="w-50">
            {% for error in form.non_field_errors %}
                <p class="alert alert-danger">{{ error }}</p>
            {% endfor %}
        
            <!-- Остальные поля формы -->
            {% for field in form.visible_fields %}
                {% if field.name != 'city' %} {# Проверяем, что поле не является полем выбора города #}
                    <div class="mb-3">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% for error in field.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
            
            <div class="mb-3">
                <label class="form-label" for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
                <select name="{{ form.city.name }}" class="form-select">
                    <option value="" selected disabled>Выберите город</option>
                    {% for city in form.city.field.queryset %}
                        <option value="{{ city.pk }}">{{ city.name }}</option>
                    {% endfor %}
                </select>
                {% for error in form.city.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
            
        </div>
        <button type="submit" class="btn btn-primary mt-3">Создать</button>        
    </form>
{% endblock %}
