{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1>Вы хотите удалить пост <i>"{{ post.title }}"</i>?</h1>
            <form action="{% url 'delete' post.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Confirm</button>
                <a href="{% url 'list' %}" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}