{% extends 'base.html' %}

{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}

<!-- post_filter.html -->
<form method="GET" action="{% url 'post_filter' %}" class="form-control">
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Применить фильтр</button>
</form>

{% for post in posts %}

            <div class="card">

              <div class="card-body">
              <a href="{% url 'detail' post.pk %}">
                <img src="/static/images/icon.png" alt="company_logo" height="30" class="me-2">
                {{ post.get_company_name }}
              </a>
              <p class="grey_font" style="font-size: 10px;">{{ post.created_at }}</p>
              </div>


              {% if post.image %}
              <div class="card-body">
              <img src="{{ post.image.url }}" class="card-img-top img-fluid rounded" alt="Post Image">
              </div>
          {% endif %}

              <div class="card-body pt-0">
              <h5 class="card-title">{{ post.title }}
            </h5>
              <p class="card-text">{{ post.description }}</p>
            </div>

            <div class="card-body pt-0">
              <a href="#" class="card-link">
                <img src="/static/images/favorite.png" alt="favorite" height="20">
              </a>
              <a href="#" class="card-link">
                <img src="/static/images/comments.png" alt="comments" height="20">
              </a>
              {% if perms.posts.change_post or post.author == request.user %}
              <a href="{% url 'update' post.pk %}" class="card-link">
                <img src="/static/images/edit.png" alt="edit" height="20">
              </a>
          {% endif %}
          {% if perms.posts.delete_post or post.author == request.user %}
              <a href="{% url 'delete' post.pk %}" class="card-link">
                <img src="/static/images/delete.png" alt="delete" height="20">
              </a>
          {% endif %}
            </div>
            <div class="card-footer">
              <small class="text-muted">Комментарии</small>
            </div>
    
{% empty %}
    <h2 class="text-center">Постов нет</h2>
{% endfor %}

{% if is_paginated %}
    {% include 'partials/pagination.html' %}
{% endif %}


{% endblock %}