{% extends 'base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="card" style="width: 18rem;">

<div class="card-body">
	<a href="{% url 'detail' post.pk %}">
	  <img src="/static/images/icon.png" alt="company_logo" height="30" class="me-2">
	  {{ post.get_company_name }}
	</a>
	<p class="grey_font" style="font-size: 10px;">{{ post.created_at }}</p>
	</div>


	{% if post.image %}
	<div class="card-body">
	<img src="{{ post.image.url }}" class="card-img-top" alt="Post Image">
	</div>
    {% endif %}

	<div class="card-body pt-0">
	<h5 class="card-title">{{ post.title }}
  </h5>
	<p class="card-text">{{ post.description }}</p>
  </div>

  <div class="card-body pt-0">
	<a href="#" class="card-link">
	  <img src="/static/images/favorite.png" alt="favorite" height="20">
	</a>
	<a href="#" class="card-link">
	  <img src="/static/images/comments.png" alt="comments" height="20">
	</a>
	{% if perms.posts.change_post or post.author == request.user %}
	<a href="{% url 'update' post.pk %}" class="card-link">
	  <img src="/static/images/edit.png" alt="edit" height="20">
	</a>
{% endif %}
{% if perms.posts.delete_post or post.author == request.user %}
	<a href="{% url 'delete' post.pk %}" class="card-link">
	  <img src="/static/images/delete.png" alt="delete" height="20">
	</a>
{% endif %}
  </div>
</div>



{% endblock %}

{% block js %}
	<script></script>
{% endblock %}