{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Редактировать пост</h1>
    <form action="{% url 'update' pk=post.pk %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                
                {% for field in form.visible_fields %}
                    {% if field.name != 'city' %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% for error in field.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
                
                <div class="mb-3">
                    <label for="{{ form.city.id_for_label }}" class="form-label">{{ form.city.label }}</label>
                    <select name="{{ form.city.name }}" class="form-select">
                        <option value="" selected disabled>Выберите город</option>
                        {% for city in form.city.field.queryset %}
                            <option value="{{ city.pk }}" {% if city.pk == post.city.pk %} selected {% endif %}>{{ city.name }}</option>
                        {% endfor %}
                    </select>
                    {% for error in form.city.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Редактировать</button>        
    </form>
</div>
{% endblock %}
