<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home_page' %}">
            <img src="/static/images/logo.png" alt="" height="40">
            SOCIAL_SERVICE
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Избранное</a>
                {% if request.user.is_authenticated %}
                     {% if request.user.business_profile %}
                <a class="nav-link active" aria-current="page" href="{% url 'create_post' %}">Создать пост</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="d-flex">
                {% if not request.user.is_authenticated %}
                <a class="btn btn-outline-success btn-sm me-3" aria-current="page" href="{% url 'login' %}?next={{ request.get_full_path }}">Войти</a>
                <a class="btn btn-outline-secondary btn-sm" aria-current="page" href="{% url 'choice' %}?next={{ request.get_full_path }}">Регистрация</a>
                {% else %}
                    <div class="d-flex align-items-center me-3">
                        <a href="{% url 'user_detail' user.pk %}">
                            <img src="/static/images/icon.png" alt="company_logo" height="30">
                        {{ user.username }}</a>
                    </div>
                    <a class="btn btn-outline-danger btn-sm" aria-current="page" href="{% url 'logout' %}?next={{ request.get_full_path }}">
                        <img src="/static/images/logout.png" height="30" alt="">
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
