{% extends 'base.html' %}

{% block content %}
<div class="conrainer">
    <h1 class="mb-5">Выберите тип регистрации</h1>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Бизнес аккаунт</h5>
              <p class="card-text">Бизнес аккаунт позволяет вам:</br> 
                - Добавить свою компанию по предоставлению услуг</br>
                - Создавать посты, общаться со своими клиентами, отвечать на вопросы.
            </p>
              <a href="{% url 'business_register' %}?next={{ request.get_full_path }}" class="btn btn-primary">Зарегистрировать бизнес аккаунт</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Пользователь</h5>
              <p class="card-text">Регистрация обычного пользователя позволяет вам:</br>
                - Просматривать посты по предоставлению услуг.</br>
                - Сохранять в избранное, оставлять отзывы, общаться с компанией.
            </p>
              <a href="{% url 'register' %}?next={{ request.get_full_path }}" class="btn btn-primary">Зарегистрироваться как пользователь</a>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}
