        {% extends 'base.html' %}

        {% block content %}
            <h1>Profile edit</h1>
            <form action="{% url 'business_register' %}?next={{ request.GET.next }}" method="POST" enctype="multipart/form-data" class="w-50">
                {% csrf_token %}
                {% include 'partials/user_forms.html' with form=form fields_only=True %}
                {% include 'partials/user_forms.html' with form=profile_form fields_only=True %} <!-- Включаем profile_form -->
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </form>
        {% endblock %}