{% extends 'base.html' %}
{% load static %}

{% block title%}User's profile{% endblock %}

{% block content %}
    <h1>{{ user_obj.businessprofile.company_name }}</h1>

    <div class="mb-5">
        {% if user_obj.businessprofile %}
        {% if user_obj.businessprofile.logo %}
            <img src="{{ user_obj.businessprofile.logo.url }}" alt="" class="avatar">
        {% endif %}
    {% else %}
        {% if user_obj.profile.avatar %}
            <img src="{{ user_obj.profile.avatar.url }}" alt="" class="avatar">
        {% else %}
            <img src="{% static 'images/icon.png' %}" alt="" class="avatar" width="150">
        {% endif %}
    {% endif %}

        <p><b>Username:</b> {{ user_obj.username }}</p>
        <p><b>First name:</b> {{ user_obj.first_name }}</p>
        <p><b>Last name:</b> {{ user_obj.last_name }}</p>
        {% if request.user.birth_date %}
        <p><b>Birth date:</b> {{ user_obj.profile.birth_date|date:"d.m.Y" }}</p>
        {% endif %}
        <p><b>Email:</b> {{ user_obj.email }}</p>
    </div>

    {% include 'accounts/posts.html' %}
{% endblock %}