{% extends 'base.html' %}

{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}

<!-- post_filter.html -->
<form method="GET" action="{% url 'post_filter' %}">
    {{ form.as_p }}
    <button type="submit">Применить фильтр</button>
</form>

{% for post in posts %}
    <div>
        <h3>{{ post.title }}</h3>
        <p>{{ post.description }}</p>
        <!-- Дополнительные поля по вашему выбору -->
    </div>
{% endfor %}

